@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

/* Footer */

.contenedor_footer{
    display: flex;
    padding: 1rem;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(241, 118, 52, 1);
    gap: 1rem;
}

.imagen_footer{
    width: 30%;
}

.textos{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.textos_footer{
    color: white;
    font-size: 1rem;
}

.logo{
    height: auto;
    width: 100%;
}

/* end footer */
.contenedor_donar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
}

.contenedor_contenido{
    display: flex;
    gap: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.titulo_donar{
    font-size: 2.5rem;
}

.contenedor_imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Formulario*/

.contenedorform{
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: rgba(30, 30, 30, 1);
    padding: 2rem;
    border-radius: 2rem;
    gap: 2rem;
}

.control_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contenedorform h4 {
    font-size: 4rem;
    margin-bottom: 50px;
    margin-top: 5px;
    color: white;
}

.controls1{
    width: 100%;
    border-radius: 1rem;
    background: #FBB959;
    padding: 5px;
    font-size: 1.2rem;
    color: white;
}

.controls{
    width: 100%;
    border-radius: 1rem;
    background: #F17634;
    padding: 5px;
    font-size: 1.2rem;
    color: white;
}

.botons {
    width: 30%;
    height: 40px;
    background: #F17634;
    border: none;
    color: white;
    border-radius: 15px;
    margin-left: 70%;
    margin-top: 50px;
    font-size: x-large;
}

.donar__form--img{
    width: 45rem;
    height: auto;
}
