@import url(menu.css);
@import url(donar.css);
@import url(permanencia.css);
@import url(galeria.css);
@import url(contacto.css);
@import url(lista.css);
@import url(antecedentes.css);

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background:  #FBB959;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #FBB959;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background:linear-gradient(rgba(0,0, 0, 0.5),  rgba(0,0, 0, 0.5)), url(../img/image3.png) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid  #FBB959;
    color: #fff;
    text-decoration: none;
    background:  #FBB959;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background:  #eb6e2c;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background:   #FBB959;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color:  #FBB959;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}

.price {
    background:linear-gradient(rgba(0,0, 0, 0.5),  rgba(0,0, 0, 0.5)), url(../img/image1.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background:  #eb6e2c;
    padding-bottom: 0;
}
.content1 {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    justify-content: right;
    align-items: right;
}
.title1 {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.title2 {
    margin-bottom: 50px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 120vh;
    }

    .navbar {
        display: none;
    }
   
    
}

/* Responsive */

@media screen and (min-width: 600px) {
    .permanencia__button--comercio{
        width: 45%;
    }
}

@media screen and (min-width: 992px) {
    .contenedor_body {
      background-color: rgb(255, 255, 255);
    }
    .contenedor_footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
    article{
        padding: 1rem;
        width: 80%;
    }
    .textos{
        width: 40%;
        gap: 0.7rem;
    }
    .textos_footer{
        text-align: right;
    }
    .contenedor_links{
        width: 40%;
    }
    .contenedor_permanencia{
        gap: 10rem;
    }
    .contenedor_nosotros{
        flex-direction: row;
        justify-content: space-around;
    }
    .contenedor{
        width: 40%;
    }
    .contenedor_huellita{
        flex-direction: row;
    }
    .contenedor_huellita2{
        flex-direction: row-reverse;
    }
    .imagen_huellita{
        width: 20rem;
    }
    .info{
        width: 50%;
    }
    .info2{
        width: 50%;
        align-items: end;
    }
    .contenedor_imagen{
        width: auto;
    }
    .arriba{
        flex-direction: row;
    }
    .contenedor_contacto{
        padding: 2rem;
    }
    .contacto_formulario input[type=text], input[type=email]{
        padding: .5rem;
    }
    .contacto_formulario textarea{
        padding: .5rem;
    }
    ::placeholder { 
        color: rgb(255, 255, 255);
        opacity: 1; 
        font-size: 1.2rem;
    }
    .mapa_contacto{
        padding-bottom:0; 
        position:relative; 
        display:block; 
        width: 60%
    }
    .informacion_contacto{
        width: 35%;
    }
    .contenedor_contenido{
        flex-direction: row;
    }
    .contenedorform{
        width: 40%;
    }
    .donar__form--img{
        width: 45vw;
    }
  }
  
  @media screen and (min-width: 1120px) {
    .contenedor_body {
      padding-bottom: 3rem;
    }
    .parrafo{
        font-size: 1.5rem;
    }
    .imagen_footer{
        width: 15%;
    }
    .titulos_pagina{
        font-size: 2.5rem;
    }
    .textos_nosotros{
        font-size: 1.5rem;
    }
    .titulos_nosotros2{
        font-size: 2rem;
    }
    .contenedor{
        height: 25vw;
    }
  }
