/* Body Antecedentes */

.contenedor_body{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


article{
    padding: 1rem;
    width: 90%;
}


hr{
    border: none;
    margin: 1rem;
}

.titulo{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.titulos_paginas{
    font-size: 2rem;
}

.parrafo{
    text-align: justify;
}